{% extends 'base.html' %}

{% block section %}   {% endblock %}

{% block content %}

    <div class="row">


        <div class="col-md-6 offset-md-3 ">

            {% if form.non_field_errors %}
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}


            <h1>Авторизация</h1>


            <form action="" method="post">

                {% csrf_token %}

                <div class="form mb-3">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                </div>

                <div class="form mb-3">
                    <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                    {{ form.password }}
                </div>


                <button type="submit" class="btn btn-primary col-md-2 offset-5">Войти</button>

            </form>

        </div>

    </div>

{% endblock %}