{% extends 'base.html' %}

{% block section %}

{% endblock %}

{% block content %}

    <h4> Группы </h4>


    <div class="row mt-3">

        <div class="col-4">

            <div class="list-group" id="list-tab" role="tablist">

                {% for group in groups %}
                    <a class="list-group-item list-group-item-action"
                       id="module_{{ group.id }}"
                       data-bs-toggle="list"
                       href="#_{{ group.id }}"
                       role="tab"
                       aria-controls="{{ group.course.title }}_{{ group.id }}">
                        {{ group.title }}
                    </a>

                {% endfor %}

            </div>

        </div>

        <div class="col-8">

            <div class="tab-content" id="nav-tabContent">

                {% for group in groups %}

                    <div class="tab-pane fade"
                         id="_{{ group.id }}"
                         role="tabpanel"
                         aria-labelledby="module_{{ group.id }}">

                        <p> {{ group.description }}</p>

                        <i>Количество студентов: {{ group.students.count }}</i>


                        <div class="accordion mt-3">

                            <div class="accordion-item">

                                <h2 class="accordion-header" id="_{{ group.id }}">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#__{{ group.id }}"
                                            aria-expanded="true"
                                            aria-controls="__{{ group.id }}">
                                        Студенты
                                    </button>
                                </h2>

                                <div id="__{{ group.id }}" class="accordion-collapse collapse" aria-labelledby="_{{ group.id }}">
                                    <div class="accordion-body">

                                        <ol class="list-group list-group-numbered">
                                            {% for student in group.students.all %}
                                                <li class="list-group-item">
                                                    <span>{{ student.get_full_name }}</span>
                                                    <a href="{% url 'accounts:show_user_profile' student.id %}">
                                                        <i>инфо</i>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ol>

                                    </div>
                                </div>


                            </div>

                            <div class="accordion-item mt-3">

                               <h2 class="accordion-header" id="_{{ group.slug }}">
                                    <button class="accordion-button"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#_{{ group.id }}_"
                                            aria-expanded="true"
                                            aria-controls="_{{ group.id }}_">
                                        Курсы
                                    </button>
                                </h2>

                               <div id="_{{ group.id }}_" class="accordion-collapse collapse" aria-labelledby="_{{ group.slug }}">
                                    <div class="accordion-body">

                                        {% for course in group.courses_joined.all %}
                                            {% if course.modules.count > 0 %}

                                                <div class="card mb-3">
                                                    <h5 class="card-header">{{ course.title }}</h5>

                                                    <div class="row">
                                                        {% for module in course.modules.all %}
                                                            <div class="col-sm-4 mb-3 mt-3">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h5 class="card-title">{{ module }}</h5>
                                                                        <p class="card-text">{{ module.description }}</p>
                                                                        <a href="{% url 'classroom:module_results' group.id course.id module.id %}"
                                                                           class="btn btn-primary">Результаты</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>

                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>

                {% endfor %}

            </div>

        </div>

    </div>



{% endblock %}